{% extends "tpl/base.html" %}
{% set active_page = "project" %}

{% block content %}

<div class="project-wrapper">
    <h2 class="title">{{_('Project description')}}</h2>


    <div class="project-schemе">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
          style="left: 0; top: 0; width:100%; height:100%;">
          <defs>
            <marker id="arrowhead" markerWidth="10" markerHeight="7"
              refX="0" refY="2" orient="auto" fill="#e67e22">
              <polygon points="0 0, 7.5 2, 0 4" />
            </marker>
          </defs>
          <line x1="50%" y1="12%" x2="88%" y2="12%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="88%" y1="32%" x2="75%" y2="22%" stroke="#e67e22" stroke-width="2" />
          <line x1="75%" y1="22%" x2="62.5%" y2="22%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="15%" y1="40%" x2="28%" y2="20%" stroke="#e67e22" stroke-width="2" />
          <line x1="28%" y1="20%" x2="38.4%" y2="35%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="50%" y1="40%" x2="75.5%" y2="40%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="15%" y1="40%" x2="22%" y2="59%" stroke="#e67e22" stroke-width="2" />
          <line x1="22%" y1="59%" x2="22%" y2="67%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />
          <line x1="22%" y1="59%" x2="38%" y2="47%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="25%" y1="80%" x2="45%" y2="52.5%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="52%" y1="40%" x2="52%" y2="67%" stroke="#e67e22" stroke-width="2" />
          <line x1="52%" y1="67%" x2="37%" y2="75%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />
          <line x1="52%" y1="67%" x2="63%" y2="75%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="75%" y1="80%" x2="37.5%" y2="80%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="75%" y1="80%" x2="58%" y2="52.5%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />
        </svg>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 50%; top: 15%" uk-toggle="target: #modal-wp0">
            <div class="project-schemе-wp-title">Work Package 0</div>
            <div class="project-schemе-wp-segment"><br>Project management</div>
        </div>
        <div id="modal-wp0" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 0</h2>

                <h3>Motivation</h3>
                <p>
                    Given the interdependencies between work packages, effective project
                    management and open communication channels are essential.
                </p>
                <h3>Approach</h3>
                <p>
                    In this work package, PSI will chair online meetings every other month,
                    and coordinate annual status meetings. Special attention will be paid to
                    compatibility in data formats, as well as technical support throughout
                    the project for data exchange.
                </p>
                <p>
                    PSI will also be responsible for coordinating dissemination activities,
                    including maintaining the project website, editing the final report,
                    and organizing a stakeholder workshop at the conclusion of the project.
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 50%; top: 40%" uk-toggle="target: #modal-wp1">
            <div class="project-schemе-wp-title">Work Package 1</div>
            <div class="project-schemе-wp-segment"><br><br>Big data</div>
        </div>
        <div id="modal-wp1" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 1</h2>

                <h3>Motivation</h3>
                <p>
                    Understanding global supply chains of our economy and their environmental impacts is an
                    important step towards a sustainable economy. The two widely used methodologies to study
                    supply chains are the process-based Life Cycle Assessment (LCA) and Environmentally-Extended
                    Multi-Regional-Input-Output models (EE-MRIO). Process-based LCA links individual processes
                    to create a highly detailed supply chain, however, because of limited data availability,
                    a system boundary needs to be defined where processes outside of this boundary are not
                    being included in the supply chain. The exclusion of these processes, however, leads to
                    an underestimation of the environmental impacts of the supply chain under study, a problem
                    know as the truncation error. EE-MRIO analysis on the other hand, uses macro-economic data
                    to model the supply chains in a process that provides high completeness, but at the cost of resolution.
                    <div>
                        <img src="/static/imgs/project/wp1/LCA-IO-Hybrid-Ideal.gif">
                    </div>
                </p>
                <p>
                    One could describe the difference between process-based LCA and EE-MRIO analysis as the
                    difference between precision and accuracy. However, to design effective policies that help
                    to mitigate the environmental impacts of our economy, we need a both detailed and complete
                    picture of the supply chains.
                </p>
                <p>
                    Hybrid-LCA, an analysis in which both process- and MRIO-data is used, is considered to be
                    an effective means to mitigate the truncation errors in process-based LCA, and therefore
                    produces more accurate footprint results. However, in conventional hybrid-LCA, the inclusion
                    of MRIO data into the supply chain, leads to added uncertainty or noise due to the low product
                    and sector resolution of this data, which in turn reduces the precision of the results.
                    An ideal hybrid-LCA methodology therefore, would not only be able to add accuracy,
                    but also capture the added uncertainty so that we know how precise our model is.
                </p>
                <h3>Goal</h3>
                <p>
                    Work Package 1 has the goal to develop a such statistically based method for the hybridisation of LCA and MRIO data.
                </p>
                <h3>Approach</h3>
                <p>
                    We seek to employ the principle of maximum entropy, which provides a means to find the least
                    biased estimation of a quantity in an indeterminate system, to reconcile information available
                    at different levels of resolution and on different layers (monetary and physical). The goal is to,
                    unlike existing footprint indicators derived from hybrid methods, enable us to quantify the
                    uncertainty of the footprints calculated and give quantitative information on where in the
                    supply chain resolution needs to be increased and data uncertainty decreased to improve the
                    accuracy of the footprint.
                </p>
                <p>
                    The result of this work package will be an open source Python package to hybridise the
                    Ecoinvent LCA database with the EXIOBASE MRIO data, although the methodology will not limited
                    to any particular data or format but aims to provide a statistical basis for any large scale
                    hybridisation project on LCA and MRIO data. The output also service as an input for work packages 3,4 and 5.
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 15%; top: 40%" uk-toggle="target: #modal-wp2">
            <div class="project-schemе-wp-title">Work Package 2</div>
            <div class="project-schemе-wp-segment"><br>Integrate SHDB</div>
        </div>
        <div id="modal-wp2" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 2</h2>

                <h3>Goal</h3>
                <p>
                    In order to do a complete sustainability assessment, it is necessary to include
                    social dimension into life cycle analysis. This is the primary goal of work package 2.
                </p>
                <h3>Approach</h3>
                <p>
                    The ecoinvent centre will adapt and add quantitative social indicator data from the
                    Social Hotspots Database to the existing process inventory datasets. Following usual
                    ecoinvent practice, social indicators will be independently reviewed for consistency
                    and completeness. In addition, the existing process data of ecoinvent will be tested
                    for their appropriateness and expanded upon if necessary. Social impacts may require
                    higher data quality and accuracy than environmental assessments in some parts of the
                    database, and the database will there be adapted as necessary. After the integration
                    into the ecoinvent database, the same verified and open methodology will be used to
                    map social indicators onto the EXIOBASE database.
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 25%; top: 80%" uk-toggle="target: #modal-wp3">
            <div class="project-schemе-wp-title">Work Package 3</div>
            <div class="project-schemе-wp-segment"><br>Resource risks</div>
        </div>
        <div id="modal-wp3" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 3</h2>

                <h3>Motivation</h3>
                <p>
                    Secure supply chains of goods and services consumed within the Swiss economy and society are
                    essential to guarantee a sustainable development in key sectors such as food and clothing,
                    information and commu-nication, energy provision and storage, and mobility (Richard and Wachter 2012).
                    The supply chain of ma-terials used in products within these sectors involves both local and global
                    actors (Nuss et al. 2016). A high number of parties within the supply chain increases the potential
                    of different types of supply disrup-tions along the product life cycle (Figure 1). Criticality
                    assessment, enhanced by the development of sev-eral methodologies in the past few years (European
                    Commission 2010; Graedel and Reck 2016; NRC 2008), allows for evaluating the potential of supply
                    disruptions in current and future supply scenarios by applying supply risk indicators (Achzet and
                    Helbig 2013; Dewulf et al. 2016; Knoeri et al. 2013; Roelich et al. 2014). The assessment of one
                    type of supply disruption, the mineral depletion, is established within Life Cycle Assessment by
                    the application of various Life Cycle Impact Assessment (LCIA) indicators (Klinglmair et al. 2013;
                    Wäger et al. 2015). First attempts have also been made to integrate other risk as-pects addressed
                    in criticality assessment into LCA respectively the more holistic Life Cycle Sustainability
                    Assessment (LCSA) (Bach et al. 2016; Schneider et al. 2013; Sonnemann et al. 2015).
                    <div>
                        <img src="/static/imgs/project/wp3/motivation.png">
                    </div>
                </p>
                <h3>Gaps</h3>
                <p>
                    Mostly risks occurring at early supply stages are assessed in existing criticality assessment
                    approaches, whereas pertinent supply risk indicators are missing that are suitable for an integrated
                    assessment along the supply chain based on LCA methodology (Graedel and Reck 2016; Schrijvers et
                    al. 2019). A compre-hensive quantification of the resource dependency of the Swiss economy requires
                    the application of said indicators to a data-rich description of Swiss materials flows. For an
                    improvement of the sustainability of Swiss supply chains, supply risks within current and future
                    supply scenarios have to be addressed by elim-inating existing data gaps as good as possible.
                </p>
                <h3>Goal</h3>
                <p>
                    The main goals of WP 3 consist in (i) evaluating of quantification opportunities for indicators
                    suitable for a comprehensive supply risk assessment within LCSA, setup of an appropriate integration
                    framework (Fig-ure 2) and prioritization of pertinent supply risk indicators (ii) providing the data
                    to quantify priority sup-ply risk indicators along existing supply chains relevant for the Swiss
                    economy and support their imple-mentation in a merged ecoinvent, EXIOBASE and Social Hotspot
                    database, and (iii) evaluating the suitabil-ity of the supply risk indicators and the merged
                    database to address future supply scenarios.
                    <div>
                        <img src="/static/imgs/project/wp3/goal.png">
                    </div>
                </p>
                <h3>Approach</h3>
                <p>
                    <u>Step 1: Review</u><br>
                    Review of existing criticality assessment approaches and related indicators for supply risk
                    assessment and identification of indicator-specific data requirements along the supply chain.
                    </p>
                <p>
                    <u>Step 2: Analysis</u><br>
                    Analysis of the application and development of commonly used supply risk indicators regarding
                    an assess-ment along the supply chain and investigation of the applicability of supply risk
                    indicators in the context of databases developed in the framework of LCA methodology.
                    </p>
                <p>
                    <u>Step 3: Evaluation</u><br>
                    Prioritization and adaption of indicators, suitable to assess supply risks along the supply chain,
                    for an inte-gration within LCSA considering limitations in data availability and acquisition as
                    well as methodological boundary conditions of the LCSA framework.
                    </p>
                <p>
                    <u>Step 4: Modelling</u><br>
                    Based on the priority indicators, development of a methodology for supply risk assessment
                    integrated into an LCSA frame that quantifies major existing supply risks along the supply
                    chains for components and products of key sectors within the Swiss economy and society.
                    </p>
                <p>
                    <u>Step 5: Approach</u><br>
                    Evaluation of the priority supply risk indicators applied within the developed methodology and
                    the merged database regarding their suitability to address future supply scenarios.
                    <div>
                        <img src="/static/imgs/project/wp3/approach.png">
                    </div>
                </p>
                <h3>References</h3>
                <p>
                    Achzet, Benjamin and Helbig, Christoph (2013), 'How to evaluate raw material supply risks—an overview',
                    Resources Policy, 38 (4), 435-47.
                    </p>
                <p>
                    Bach, Vanessa, et al. (2016), 'Integrated method to assess resource efficiency – ESSENZ',
                    Journal of Cleaner Production, 137, 118-30.
                    </p>
                <p>
                    Dewulf, Jo, et al. (2016), 'Criticality on the international scene: Quo vadis?', Resources Policy, 50, 169-76.
                    </p>
                <p>
                    European Commission (2010), 'Critical raw materials for the EU - Report of the Ad-hoc Working
                    Group on defining critical raw materials'.
                    </p>
                <p>
                    Graedel, T. E. and Reck, Barbara K. (2016), 'Six Years of Criticality Assessments: What Have
                    We Learned So Far?', Journal of Industrial Ecology, 20 (4), 692-99.
                    </p>
                <p>
                    Klinglmair, Manfred, Sala, Serenella, and Brandão, Miguel (2013), 'Assessing resource depletion in
                    LCA: a review of methods and methodological issues', The International Journal of Life Cycle
                    Assessment, 19 (3), 580-92.
                    </p>
                <p>
                    Knoeri, C., et al. (2013), 'Towards a dynamic assessment of raw materials criticality: linking
                    agent-based demand--with material flow supply modelling approaches', Sci Total Environ, 461-462, 808-12.
                    </p>
                <p>
                    NRC (2008), 'Minerals, Critical Minerals, and the US Economy', National Research Council of the
                    National Academies, USA.
                    </p>
                <p>
                    Nuss, Philip, et al. (2016), 'Mapping supply chain risk by network analysis of product platforms',
                    Sustainable Materials and Technologies, 10, 14-22.
                    </p>
                <p>
                    Richard, Christine  and Wachter, Daniel (2012), 'Sustainable Development in Switzerland - A Guide',
                    Interdepartmental Sustainable Development Committee (ISDC) c/o Federal Office for Spatial Development (ARE).</p>
                <p>
                    Roelich, Katy, et al. (2014), 'Assessing the dynamic material criticality of infrastructure
                    transitions: A case of low carbon electricity', Applied Energy, 123, 378-86.
                    </p>
                <p>
                    Schneider, Laura, et al. (2013), 'The economic resource scarcity potential (ESP) for evaluating
                    resource use based on life cycle assessment', The International Journal of Life Cycle Assessment, 19 (3), 601-10.
                    </p>
                <p>
                    Schrijvers, Dieuwertje, et al. (2019), 'A review of methods and data to determine raw material
                    criticality', Resources, Conservation & Recycling: X, 100023.
                    </p>
                <p>
                    Sonnemann, Guido, et al. (2015), 'From a critical review to a conceptual framework for integrating
                    the criticality of resources into Life Cycle Sustainability Assessment', Journal of Cleaner Production, 94, 20-34.
                    </p>
                <p>
                    Wäger, Patrick A., Hischier, Roland, and Widmer, Rolf (2015), 'The Material Basis of ICT', (ICT
                    Innovations for Sustainability; Cham: Springer International Publishing), 209-21.
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 75%; top: 80%" uk-toggle="target: #modal-wp4">
            <div class="project-schemе-wp-title">Work Package 4</div>
            <div class="project-schemе-wp-segment">New<br>& revised datasets</div>
        </div>
        <div id="modal-wp4" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 4</h2>

                <h3>Motivation</h3>
                <p>
                    For a high-quality evaluation of Swiss production and consumption and the associated
                    supply chains, it is important to base the analysis on high-quality inventories.
                    However, current data is partially lacking details in some datasets relevant for
                    the creation of a merged database, and in some cases the required geographic resolution
                    for e.g. social assessments. Furthermore, certain economic sectors might not be
                    sufficiently represented. Therefore, the need for better quality data is apparent.
                </p>
                <h3>Goal</h3>
                <p>
                    Extending and updating the current data represents the goal of this work package.
                    New data will be available to the large ecoinvent user base and therefore increase
                    the quality of LCA research and applications worldwide.
                </p>
                <h3>Approach</h3>
                <p>
                    In a first step, major data gaps and quality issues in the preliminary merged LCA/MRIO data
                    will be identified based on input data from WP1 and analysis and methodological advancements
                    made in WP3 and WP5. These gaps and quality issues will be prioritized according to their
                    relevance for the sustainability assessment of Swiss production and consumption.
                    Identification and prioritization will include environmental issues (i.e. the standard
                    entries of the ecoinvent database), social issues (based on the integration of the SHDB
                    performed in WP2) and resource supply risk issues (based on the outcomes of WP3).
                    </p>
                <p>
                    In a second step, data gaps will be filled by updating existing and creating new ecoinvent
                    inventory datasets and creating new inventory data, which will be supplied to and integrated
                    into the ecoinvent and the merged LCA/MRIO databases.
                    </p>
                <p>
                    Data collection and processing will be shared among PSI, Empa, and ecoinvent.
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 88%; top: 40%" uk-toggle="target: #modal-wp5">
            <div class="project-schemе-wp-title">Work Package 5</div>
            <div class="project-schemе-wp-segment"><br>Integrated assessment</div>
        </div>
        <div id="modal-wp5" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 5</h2>

                <h3>Goal</h3>
                <p>
                    The goal of this work package is to systematically contribute to the quality of the integrated
                    assessment of Swiss consumption and production.
                </p>
                <h3>Approach</h3>
                <p>
                    One of the main approaches to address this goal is to improve data quality in inventories
                    by means of identifying processes that contribute the most to uncertainties in LCA results
                    and collecting more data for them. This work will employ Global Sensitivity Analysis,
                    where the main challenges lie in a very high-dimensional nature of the problem, as well as
                    the issue of input correlations, and validation and interpretation of results.<br>
                    Within this work package we will also update the existing modelling of Swiss consumption with newer data.

                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 75%; top: 12%">
          Data formats<br>to all WPs
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 75%; top: 22%">
            Final results
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 28%; top: 20%">
            Mapping<br>social indicators<br>to EXIOBASE
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 68%; top: 40%">
            Merged<br>database
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 22%; top: 59%">
            Ecoinvent database<br>with social indicators
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 39%; top: 62%">
            Indicator<br>scores
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 52%; top: 67%">
            Preliminary<br>database
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 65%; top: 60%">
            New & updated<br>datasets
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 50%; top: 80%">
            New & updated<br>datasets
        </div>
    </div>


</div>

{% endblock %}
