{% extends "tpl/base.html" %}
{% set active_page = "project" %}

{% block content %}

<div class="project-wrapper">
    <h2 class="title">{{_('Project description')}}</h2>


    <div class="project-schemе">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
          style="left: 0; top: 0; width:100%; height:100%;">
          <defs>
            <marker id="arrowhead" markerWidth="10" markerHeight="7"
              refX="0" refY="2" orient="auto" fill="#e67e22">
              <polygon points="0 0, 7.5 2, 0 4" />
            </marker>
          </defs>
          <line x1="50%" y1="12%" x2="88%" y2="12%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="88%" y1="32%" x2="75%" y2="22%" stroke="#e67e22" stroke-width="2" />
          <line x1="75%" y1="22%" x2="62.5%" y2="22%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="15%" y1="40%" x2="28%" y2="20%" stroke="#e67e22" stroke-width="2" />
          <line x1="28%" y1="20%" x2="38.4%" y2="35%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="50%" y1="40%" x2="75.5%" y2="40%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="15%" y1="40%" x2="22%" y2="59%" stroke="#e67e22" stroke-width="2" />
          <line x1="22%" y1="59%" x2="22%" y2="67%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />
          <line x1="22%" y1="59%" x2="38%" y2="47%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="25%" y1="80%" x2="45%" y2="52.5%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="52%" y1="40%" x2="52%" y2="67%" stroke="#e67e22" stroke-width="2" />
          <line x1="52%" y1="67%" x2="37%" y2="75%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />
          <line x1="52%" y1="67%" x2="63%" y2="75%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="75%" y1="80%" x2="37.5%" y2="80%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />

          <line x1="75%" y1="80%" x2="58%" y2="52.5%" stroke="#e67e22"
            stroke-width="2" marker-end="url(#arrowhead)" />
        </svg>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 50%; top: 15%" uk-toggle="target: #modal-wp0">
            <div class="project-schemе-wp-title">Work Package 0</div>
            <div class="project-schemе-wp-segment"><br>Project management</div>
        </div>
        <div id="modal-wp0" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 0</h2>

                <h3>Motivation</h3>
                <p>
                    Given the interdependencies between work packages, effective project
                    management and open communication channels are essential.
                </p>
                <h3>Approach</h3>
                <p>
                    In this work package, PSI will chair online meetings every other month,
                    and coordinate annual status meetings. Special attention will be paid to
                    compatibility in data formats, as well as technical support throughout
                    the project for data exchange.
                </p>
                <p>
                    PSI will also be responsible for coordinating dissemination activities,
                    including maintaining the project website, editing the final report,
                    and organizing a stakeholder workshop at the conclusion of the project.
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 50%; top: 40%" uk-toggle="target: #modal-wp1">
            <div class="project-schemе-wp-title">Work Package 1</div>
            <div class="project-schemе-wp-segment"><br><br>Big data</div>
        </div>
        <div id="modal-wp1" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 1</h2>

                <h3>Motivation</h3>
                <p>
                </p>
                <h3>Approach</h3>
                <p>
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 15%; top: 40%" uk-toggle="target: #modal-wp2">
            <div class="project-schemе-wp-title">Work Package 2</div>
            <div class="project-schemе-wp-segment"><br>Integrate SHDB</div>
        </div>
        <div id="modal-wp2" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 2</h2>

                <h3>Motivation</h3>
                <p>
                </p>
                <h3>Approach</h3>
                <p>
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 25%; top: 80%" uk-toggle="target: #modal-wp3">
            <div class="project-schemе-wp-title">Work Package 3</div>
            <div class="project-schemе-wp-segment"><br>Resource risks</div>
        </div>
        <div id="modal-wp3" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 3</h2>

                <h3>Motivation</h3>
                <p>
                </p>
                <h3>Approach</h3>
                <p>
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 75%; top: 80%" uk-toggle="target: #modal-wp4">
            <div class="project-schemе-wp-title">Work Package 4</div>
            <div class="project-schemе-wp-segment">New<br>& revised datasets</div>
        </div>
        <div id="modal-wp4" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 4</h2>

                <h3>Motivation</h3>
                <p>
                </p>
                <h3>Approach</h3>
                <p>
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-wp uk-box-shadow-medium"
                style="left: 88%; top: 40%" uk-toggle="target: #modal-wp5">
            <div class="project-schemе-wp-title">Work Package 5</div>
            <div class="project-schemе-wp-segment"><br>Integrated assessment</div>
        </div>
        <div id="modal-wp5" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <h2>Work package 5</h2>

                <h3>Motivation</h3>
                <p>
                </p>
                <h3>Approach</h3>
                <p>
                </p>
            </div>
        </div>

        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 75%; top: 12%">
          Data formats<br>to all WPs
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 75%; top: 22%">
            Final results
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 28%; top: 20%">
            Mapping<br>social indicators<br>to EXIOBASE
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 68%; top: 40%">
            Merged<br>database
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 22%; top: 59%">
            Ecoinvent database<br>with social indicators
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 39%; top: 62%">
            Indicator<br>scores
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 52%; top: 67%">
            Preliminary<br>database
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 65%; top: 60%">
            New & updated<br>datasets
        </div>
        <div class="uk-position-absolute uk-transform-center project-schemе-connector uk-box-shadow-small"
                style="left: 50%; top: 80%">
            New & updated<br>datasets
        </div>
    </div>


</div>

{% endblock %}
