{% extends "tpl/base.html" %}
{% set active_page = "team" %}

{% block content %}

{% for item in team %}

<h2 class="inst-name">{{item.institution}}</h2>

<div class="uk-flex uk-flex-center" uk-grid>

    {% for member in item.people %}
    <div class="uk-text-center uk-width-1-4@l uk-width-1-2@s">
        <div class="inst-member-img">
            <img src="/static/imgs/team/{{member.img}}">
        </div>
        <div class="inst-member-name">{{member.name}}</div>
        <div class="inst-member-role">{{member.role}}</div>
        <div class="inst-member-descr">{{member.descr|safe}}</div>
    </div>

    {% endfor %}
</div>
{% endfor %}

{% endblock %}
